<!DOCTYPE html>
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="ru">
<head prefix="og: http://ogp.me/ns#">
    <title>Партнёры Uklon. Становитесь партнером на выгодных условиях. | Партнёр сервиса вызова авто Uklon в kiev.</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- basic styles -->
<link href="/static/fake_uklon/base.css" rel="stylesheet">

<link rel="stylesheet" href="/static/fake_uklon/styles.css">
<link href="/static/fake_uklon/main-desktop.css" rel="stylesheet">

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
