<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" type="text/css">
        <title>Drivers rating</title>
    </head>
    <body class="">
        <div class="container-fluid  p-0">
            <div class="row justify-content-md-center m-0">
                <div class="col-12 col-md-9 col-xl-6 col-xxl-4 p-2">
                    <div class="bg-light"><h2>Drivers Rating</h2></div>
                    {% for x in rating %}
                        <h3>{{x.fleet}}</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="col-1" scope="col">#</th>
                                        <th class="col-6"scope="col">Driver</th>
                                        <th class="col-1"scope="col">Trips</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for detail in x.rating %}
                                        <tr>
                                            <td>{{detail.num}}</td>
                                            <td>{{detail.driver}}</td>
                                            <td>{{detail.trips}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
